body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
/* Add this CSS to style the list items vertically */
#userList {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

#userList li {
    margin-bottom: 5px; /* Add margin between list items */
}
